li {
    list-style: none;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    background: #494949;
    padding: .5rem 0;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.navegacao {
    display: flex;
    gap: 1rem
}

.link_navegacao {
    text-decoration: none;
    color: #fffcfc;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        border-bottom: 2px solid #fffcfc;
    }
}

.img-logo {
    width: 125px;
}

.banner {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 2rem;
}

.sobre {
    margin: 0 3em;
    background: #FEFEFE;
    display: flex;
    flex-direction: column;
}

.conteiner-sobre {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 2rem;

    strong {
        font-weight: bold;
    }

    em {
        font-style: italic;
    }
}

.titulo-principal1 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 2rem;
}

.textos-sobre {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.img-equipamentos {
    width: 250px;
    float: left;
}

.mapa {
    padding: 3em 0;
    margin: 0 3rem;
    background: linear-gradient(#FEFEFE, #888888);
}

.titulo-mapa {
    font-size: 2rem;
    font-weight: semibold;

    text-align: center;
    margin-bottom: 1rem;
}

.beneficios {
    padding: 3rem 3rem;
    margin: 0 3rem;
    background: linear-gradient(#888888, #0e0e0e00);
}

.titulo-principal2 {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;

    margin-bottom: 1rem;
    margin: 0 0 1rem 5rem;
}

.conteudo-beneficios {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.itens {
    list-style: disc;
    line-height: 1.5;
}

.img-beneficios {
    width: 350px;
}

.video {
    width: 560px;
    margin: 2em auto;
    transition: 1s;
    opacity: 0.7;
}

.video:hover {
    width: 640px;
    opacity: 1;
}

.footer {
    text-align: center;
    background: url(./assets/bg.jpg);
    padding: .2rem 0;
}

.copyright {
    color: white;
    margin: 8px 0 0;
    font-size: 14px;
}

/* add margin em toda main */

/*resposividade*/

@media screen and (max-width: 480px) {

    header {
        background: #CCCCCC;
    }

    .caixa {
        width: 250%;
        text-align: center;
        background: #CCCCCC;
        padding: 30px 0;
    }

    .caixa h1 {
        text-align: center;
    }
}