.body {
    font-family: 'Montserrat', sans-serif;
}

.cabecalho {
    background: #494949;
    padding: .5rem 0;
    display: flex;

    justify-content: space-around;
    align-items: center;
}

.navegacao {
    display: flex;
    gap: 1rem
}

.link-navegacao {
    text-decoration: none;
    color: #fffcfc;
    font-size: 1.5rem;
    font-weight: bold;

    &:hover {
        border-bottom: 2px solid #fffcfc;
    }
}

.img-logo {
    width: 125px;
}

.produtos {
    margin: 7rem 7rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.produto-item {
    width: 280px;
    text-align: center;
    padding: 2rem 1rem;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.titulo-item {
    font-size: 1.5rem;
    font-weight: bold;
}

.descricao-produto {
    font-size: 1rem;
}

.preco-produto {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

.footer {
    text-align: center;
    background: url(./assets/bg.jpg);
    padding: .2rem 0;
}

.copyright {
    color: white;
    margin: 8px 0 0;
    font-size: 14px;
}